body{
    background-color: #F4D04E;
}
.attribution { font-size: 15px; text-align: center; margin: 20px; font-weight: bolder;}
.attribution a { color: hsl(228, 45%, 44%); }

#firstcard{
    width: 384px;
    height: 522px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 7px 8px 0px rgba(0, 0, 0), 0px 2px 0px rgba(0, 0, 0, 0.8);
    border: 1px solid;
    margin: auto;
    justify-content: center;
}
svg{
    border-radius: 15px;
    margin: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.thebutton{
    background-color: #F4D04E;
    justify-self: left;
    font-weight: bold;
    border:none;
    font-size: 14px;
    border-radius: 3px;
    font-family: Tahoma;
    width: 82px;
    height: 30px;
    text-align: center;
    margin-left: 30px;
    box-shadow: 5px 5px 5px;
}
#firstcard p{
    margin-left: 30px;
    font-size: 15px;
    font-family: "Lucida Sans";
    margin-bottom: 10px;
}
#firstcard h3{
    margin-left: 30px;
    font-weight: bold;
    font-family: verdana;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;
}
#firstcard #description{
    color: #7F7F7F;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.image img{
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 100px;
    border: 2px solid;
}