*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F4D04E;
    /* new */
    padding: 1em
}

.attribution { 
    font-size: 15px; 
    text-align: center; 
    margin: 20px; 
    font-weight: bolder;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

#firstcard{
    /* width: 384px;
    height: 522px; */
    /* new */
    width: 30%;
    overflow: hidden;
    padding: 1.5em ;
    /*  */
    border-radius: 15px;
    background-color: white;
    box-shadow: 7px 8px 0px rgba(0, 0, 0), 0px 2px 0px rgba(0, 0, 0, 0.8);
    border: 1px solid;
    margin: auto;
    justify-content: center;
}

.svg_image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 400px; */
}
svg{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    /* margin: 25px;
    margin-top: 20px;
    margin-bottom: 15px; */
}

.thebutton{
    background-color: #F4D04E;
    /* justify-self: left; */
    font-weight: bold;
    border:none;
    font-size: 14px;
    border-radius: 3px;
    font-family: Tahoma;
    width: 82px;
    height: 30px;
    text-align: center;
    box-shadow: 5px 5px 5px;

    /* margin-left: 30px; */
    margin-top: 1em;
}

#firstcard p{
    /* margin-left: 30px; */
    font-size: 15px;
    font-family: "Lucida Sans";
    margin-top: 1em;
}

#firstcard h3{
    /* margin-left: 30px; */
    font-weight: bold;
    font-family: verdana;
    margin-top: 1em;
    font-weight: bolder;
    font-size: 20px;
}

#firstcard #description{
    color: #7F7F7F;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 1em;
}

.image{
    margin-top: 2em;
    display: flex;
    gap: 1em;
    align-items: center;
}

.image img{
    width: 30px;
    height: 30px;
}

.image span{
    font-weight: bolder;
}

@media screen and (max-width: 800px) {

    
    #firstcard{
        width: 50%;

    }
}

/* MAX-WIDTH:800PX MEANS THE CHANGES SHOULD START FROM SCREEN SIZE 800PX DOWNWARDS */


@media screen and (max-width: 500px) {

    
    #firstcard{
        width: 100%;

    }
}
